.payment_tab {
  .payment_tab_desc {
    .green {
      color: #00e109;
    }
  }
}

.pendent_payments {
  h2, .other_payments h2 {
    margin-top: 30px;
  }
}

.other_payments {
  h2 {
    margin-top: 30px;
  }
}